@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap");

:root {
  --bg-color-main: #546de5;
  --bg-color-column: #faf9fa;
  --bg-color-card: #ffffff;

  --font-color-brand: ;
  --font-color-card-desc: ;
  --font-color-card-title: ;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color-main);
}

.container {
  font-family: "Baloo 2", cursive;
  color: #2c3e50;
  display: grid;
  justify-items: center;
  grid-template-rows: 100px 1fr 100px;
}
.logo {
  position: fixed;
  z-index: -1;
  transform: translateX(-50%);
  color: white;
  font-weight: 700;
  text-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  width: 80vw;
}

.column {
  background-color: var(--bg-color-column);
  justify-items: center;
  padding: 0 0px 24px 0px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.column > .color {
  height: 8px;
}
.todo > .color {
  background-color: #f65f6a;
}
.doing > .color {
  background-color: #f6ac57;
}
.done > .color {
  background-color: #63d2b4;
}

.column .name {
  text-align: center;
  cursor: text;
}
.column.first {
  border-radius: 8px 0px 0px 16px;
}
.column.first > .color {
  border-top-left-radius: 8px;
}
.column.last {
  border-radius: 0px 8px 16px 0px;
}
.column.last > .color {
  border-top-right-radius: 8px;
}

.card {
  background-color: var(--bg-color-card);
  border-radius: 8px;
  cursor: move;
  margin: 16px;
  padding: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}

.card > .title {
  text-align: center;
}
h3 {
  margin: 0;
}

.card > .description {
  font-weight: 400;
}

.dragging {
  opacity: 0.2;
}

.holding {
  /*   animation: shake 0.2s linear infinite; */
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@media screen and (max-width: 800px) {
  .board {
    width: 100%;
  }
  .column {
    width: 80vw;
  }
}
